<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <h2>Equipo guardado</h2>
        <a href="/equipo/registrar"><button>Cargar nuevo equipo</button></a>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>